body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/*-----SECTION ONE STYLING-----*/
.section-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0px 206px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}


h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.container {
    display: flex;
    padding: 120px 0px;
    gap: 24px;
}

.content,
.image {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image {
    background-color: rgb(102, 98, 98);
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    align-self: flex-start;
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    padding: 6px 24px;
    margin: 12px 0px;
    font-size: 18px;
    font-weight: 500;
}

#hero {
    border: 0px;
}

/* -----SECTION TWO STYLING----- */
.section-two {
    padding: 0px 240px;
    display: flex;
    flex-direction: column;
    margin-bottom: 132px;
}

h2 {
    margin: 0px;
    margin: 36px 0px;
}

.info-header {
    text-align: center;
    color: #1f2937;
    font-size: 28px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 4px solid #3882f6;
}

.st-container {
    display: flex;
    justify-content: space-between;
}

.sub-text {
    width: 160px;
    text-align: center;
}

.sub-text p {
    color: #1f2937;
}

/* -----SECTION THREE STYLING----- */
.section-three {
    background-color: #e5e7eb;
}

.quote {
    padding: 120px 312px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
}

.quote-credit {
    color: #1f2937;
    font-size: 24px;
    text-align: end;
    font-weight: 900;
}

/*-----SECTION FOUR STYLING-----*/
.section-four {
    display: flex;
    justify-content: center;
    padding: 103px 206px;
}

.signup {
    background-color: #3882f6;
    display: flex;
    flex: 1;
    border-radius: 6px;
    padding: 36px 84px;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin: 0px;
    color: #e5e7eb;
}

#sub {
    border: 2px solid #e5e7eb;
}

/*-----FOOTER STYLING-----*/
.footer {
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 36px;
}